<head>
  <meta charset="UTF-8">
  <title>ชื่อหน้า</title>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>My Room Finder</title>
</head>
<body>
    <h1> Sonic Residence ! </h1>
    <p>🎉🎉🎉 ยินดีต้อนรับเข้าสู่เว็บไซต์ค้นหาห้องพักของ Sonic Residence! 🎉🎉🎉</p>

    <p><a href="/search">ไปยังหน้าค้นหาห้องพัก</a></p>
</body>
</html>
